.App {
  text-align: center;
}
.photo {
  width: 40%;
}
.fullName {
  color: blueviolet;
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.address {
  color: crimson;
  font-size: x-large;
  font-style: italic;
}
